<?xml version="1.0" encoding="UTF-8" ?>
<romeo version="Romeo v3.10.2">
<TPN name="{{ path }}">


<!-- Place Scheduler -->

  <place id="1" identifier="CPU" label="" initialMarking="{{ nb_cpu }}" eft="0" lft="inf">
      <graphics color="0">
         <position x="601.0" y="61.0"/>
         <deltaLabel deltax="0.0" deltay="-22.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <place id="2" identifier="GPU" label="" initialMarking="{{ nb_gpu }}" eft="0" lft="inf">
      <graphics color="0">
         <position x="601.0" y="181.0"/>
         <deltaLabel deltax="3.0" deltay="13.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <place id="3" identifier="Active_core" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="511.0" y="121.0"/>
         <deltaLabel deltax="-56.0" deltay="-7.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <place id="4" identifier="Executing_core" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="691.0" y="121.0"/>
         <deltaLabel deltax="54.0" deltay="-6.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>


<!-- Transition Scheduler -->

  <transition id="5" identifier="Call_CPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="50" cost="0" unctrl="0" obs="1"  guard="cpu_flag #greater 0">
     <graphics color="0">
        <position x="361.0" y="61.0"/>
        <deltaLabel deltax="9.0" deltay="-29.0"/>
        <deltaGuard deltax="0.0" deltay="14.0"/>
        <deltaUpdate deltax="0.0" deltay="26.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[cpu_flag--;]]></update>
  </transition>

  <transition id="6" identifier="Call_GPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="50" cost="0" unctrl="0" obs="1"  guard="gpu_flag #greater 0">
     <graphics color="0">
        <position x="361.0" y="181.0"/>
        <deltaLabel deltax="9.0" deltay="-33.0"/>
        <deltaGuard deltax="5.0" deltay="7.0"/>
        <deltaUpdate deltax="6.0" deltay="19.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[gpu_flag--;]]></update>
  </transition>

  <transition id="7" identifier="SCHED" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="30" cost="0" unctrl="0" obs="1"  guard="need_sched #greater 0">
     <graphics color="0">
        <position x="601.0" y="121.0"/>
        <deltaLabel deltax="1.0" deltay="-30.0"/>
        <deltaGuard deltax="0.0" deltay="12.0"/>
        <deltaUpdate deltax="20.0" deltay="25.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[scheduler(Sorted_Task, List_Core);
need_sched--;]]></update>
  </transition>

  <transition id="8" identifier="Terminate_CPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="30" cost="0" unctrl="0" obs="1"  guard="no_need_cpu #greater 0">
     <graphics color="0">
        <position x="841.0" y="61.0"/>
        <deltaLabel deltax="68.0" deltay="-10.0"/>
        <deltaGuard deltax="19.0" deltay="12.0"/>
        <deltaUpdate deltax="12.0" deltay="22.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[no_need_cpu--;]]></update>
  </transition>

  <transition id="9" identifier="Terminate_GPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="30" cost="0" unctrl="0" obs="1"  guard="no_need_gpu #greater 0">
     <graphics color="0">
        <position x="841.0" y="181.0"/>
        <deltaLabel deltax="64.0" deltay="-10.0"/>
        <deltaGuard deltax="17.0" deltay="12.0"/>
        <deltaUpdate deltax="15.0" deltay="21.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[no_need_gpu--;]]></update>
  </transition>


<!-- Arc Scheduler -->

  <arc place="1" transition="5" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="2" transition="6" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="3" transition="5" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="3" transition="6" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="3" transition="7" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="4" transition="7" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="4" transition="8" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="4" transition="9" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="1" transition="8" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="2" transition="9" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>


<!-- Simples_Tasks -->

{% set x_start = [] %}
{% set base = 91 %}
{% for i in range(10) %}
    {% set _ = x_start.append(base + i * 180) %}
{% endfor %}
{% set base_id = 10 %}
{% for task in simple_tasks %}
  {% set task_index = loop.index0 %}
  {% set row = task_index // 10 %}
  {% set col = task_index % 10 %}
  {% set x = x_start[col] %}
  {% set y = 271.0 + row * 270 %}
  {% set offset = task_index * 3 %}
  {% set start_id = base_id + offset %}
  {% set ready_id = start_id + 1 %}
  {% set exec_id = start_id + 2 %}

  <!-- Transition Period -->

  <transition id="{{ start_id }}" identifier="StartT{{ task.subtasks[0].id }}" label=""
              eft="{{ task.period }}" lft="{{ task.period }}"
              eft_param="{{ task.period }}" lft_param="{{ task.period }}"
              speed="1" priority="0" cost="0" unctrl="0" obs="1" guard="">
     <graphics color="0">
        <position x="{{ x }}" y="{{ y }}"/>
        <deltaLabel deltax="4.0" deltay="-30.0"/>
        <deltaGuard deltax="20" deltay="-20"/>
        <deltaUpdate deltax="38.0" deltay="11.0"/>
     </graphics>
     <update><![CDATA[
     ]]></update>
  </transition>

    <!-- Place Ready -->

  <place id="{{ ready_id }}" identifier="ReadyT{{ task.subtasks[0].id }}" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="{{ x }}" y="{{ y + 90 }}"/>
         <deltaLabel deltax="5.0" deltay="-20.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <!-- Transition Exec -->

  <transition id="{{ exec_id }}" identifier="ExecT{{task_index}}" label=""
              eft="{{ task.subtasks[0].execution_time.BCET }}" lft="{{ task.subtasks[0].execution_time.WCET }}"
              eft_param="{{ task.subtasks[0].execution_time.BCET }}" lft_param="{{ task.subtasks[0].execution_time.WCET }}"
              speed="1" priority="0" cost="0" unctrl="0" obs="1"
              guard="is_selected_task(List_Core, {{ task.subtasks[0].id }})">
     <graphics color="0">
        <position x="{{ x }}" y="{{ y + 180 }}"/>
        <deltaLabel deltax="9.0" deltay="-32.0"/>
        <deltaGuard deltax="15.0" deltay="10.0"/>
        <deltaUpdate deltax="17.0" deltay="26.0"/>
     </graphics>
     <update><![CDATA[
     ]]></update>
  </transition>

  <!-- Arc Task -->

  <arc place="{{ ready_id }}" transition="{{ start_id }}" type="TransitionPlace" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  <arc place="{{ ready_id }}" transition="{{ exec_id }}" type="PlaceTransition" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

{% endfor %}

{% set last_task_index = simple_tasks|length - 1 %}
{% set last_row = last_task_index // 10 + 1 %}
{% set last_y = 271.0 + last_row * 270 %}

<!-- DAG_Tasks -->

{% set ns = namespace( base_id = count_src_node * 3 + 4 ) %}
{% set ns2 = namespace( x_start = 91 ) %}
{% for dag in src %}
  {% set y = last_y %}
  {% if loop.index0 == 0 %}
  {% set period_id = ns.base_id %}
  {% else %}
  {% set period_id = ns.base_id +1 %}
  {% endif %}
  {% set x = ns2.x_start %}

  <!-- Transition Period -->
  <transition id="{{ period_id }}" identifier="StartTDAG{{ loop.index0 }}" label=""
              eft="{{ dag.task.period }}" lft="{{ dag.task.period }}"
              eft_param="{{ dag.task.period }}" lft_param="{{ dag.task.period }}"
              speed="1" priority="0" cost="0" unctrl="0" obs="1" guard="">
     <graphics color="0">
        <position x="{{ x }}" y="{{ y }}"/>
        <deltaLabel deltax="4.0" deltay="-30.0"/>
        <deltaGuard deltax="20" deltay="-20"/>
        <deltaUpdate deltax="38.0" deltay="11.0"/>
     </graphics>
     <update><![CDATA[
     ]]></update>
  </transition>

  {% for src in dag.src_nodes %}
  {% if loop.index0 == 0 %}
  {% set ready_id = period_id + 1 %}
  {% else %}
  {% set ready_id = ns.base_id + 1 %}
  {% endif %}
  {% set exec_id = ready_id + 1 %}
  {% set x = ns2.x_start %}

    <!-- Place Ready_SRC_Node -->
    <place id="{{ ready_id }}" identifier="ReadyTsub{{ src.id }}" label="" initialMarking="0" eft="0" lft="inf">
        <graphics color="0">
           <position x="{{ x }}" y="{{ y + 90 }}"/>
           <deltaLabel deltax="5.0" deltay="-20.0"/>
        </graphics>
        <scheduling gamma="0" omega="0"/>
    </place>

    <!-- Transition Exec_SRC_Node -->
    <transition id="{{ exec_id }}" identifier="ExecTsub{{ src.id }}" label=""
                eft="{{ src.execution_time.BCET }}" lft="{{ src.execution_time.WCET }}"
                eft_param="{{ src.execution_time.BCET }}" lft_param="{{ src.execution_time.WCET }}"
                speed="1" priority="0" cost="0" unctrl="0" obs="1"
                guard="is_selected_task(List_Core, {{ src.id }})">
       <graphics color="0">
          <position x="{{ x }}" y="{{ y + 180 }}"/>
          <deltaLabel deltax="9.0" deltay="-32.0"/>
          <deltaGuard deltax="15.0" deltay="10.0"/>
          <deltaUpdate deltax="17.0" deltay="26.0"/>
       </graphics>
       <update><![CDATA[
       ]]></update>
    </transition>

  <!-- Arc SRC_Node -->

  <arc place="{{ ready_id }}" transition="{{ period_id }}" type="TransitionPlace" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  <arc place="{{ ready_id }}" transition="{{ exec_id }}" type="PlaceTransition" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  {% for next in dag.other_nodes if next.id in src.successors %}
  {% if loop.index0 == 0 %}
  {% set ready_next_id = exec_id + 1 + 2 * loop.index0 %}
  {% else %}
  {% set ready_next_id = ns.base_id + 1 %}
  {% endif %}
  {% set x = ns2.x_start %}
  {% set exec_next_id = ready_next_id + 1 %}
  {% set y = y + 180 %}


    <!-- Place Ready_Next_Node -->

    <place id="{{ ready_next_id }}" identifier="ReadyTsub{{ next.id }}" label="" initialMarking="0" eft="0" lft="inf">
        <graphics color="0">
           <position x="{{ x }}" y="{{ y + 90 }}"/>
           <deltaLabel deltax="5.0" deltay="-20.0"/>
        </graphics>
        <scheduling gamma="0" omega="0"/>
    </place>

    <!-- Transition Exec_Next_Node -->
    <transition id="{{ exec_next_id }}" identifier="ExecTsub{{ next.id }}" label=""
                eft="{{ next.execution_time.BCET }}" lft="{{ next.execution_time.WCET }}"
                eft_param="{{ next.execution_time.BCET }}" lft_param="{{ next.execution_time.WCET }}"
                speed="1" priority="0" cost="0" unctrl="0" obs="1"
                guard="">
       <graphics color="0">
          <position x="{{ x }}" y="{{ y + 180 }}"/>
          <deltaLabel deltax="9.0" deltay="-32.0"/>
          <deltaGuard deltax="15.0" deltay="10.0"/>
          <deltaUpdate deltax="17.0" deltay="26.0"/>
       </graphics>
       <update><![CDATA[
       ]]></update>
    </transition>

  <!-- Arc Next_Node -->

  <arc place="{{ ready_next_id }}" transition="{{ exec_id }}" type="TransitionPlace" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  <arc place="{{ ready_next_id }}" transition="{{ exec_next_id }}" type="PlaceTransition" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  {% for other in dag.other_nodes if other.id in next.successors %}
  {% set ready_other_id = exec_next_id + 1 + 2 * loop.index0 %}
  {% set exec_other_id = ready_other_id + 1 %}
  {% set ns.base_id = exec_other_id %}
  {% set x = x + 150 * loop.index0 %}
  {% set ns2.x_start = x + 150 %}
  {% set y = y + 180 %}

      <!-- Place Ready_Other_Node -->

    <place id="{{ ready_other_id }}" identifier="ReadyTsub{{ other.id }}" label="" initialMarking="0" eft="0" lft="inf">
        <graphics color="0">
           <position x="{{ x }}" y="{{ y + 90 }}"/>
           <deltaLabel deltax="5.0" deltay="-20.0"/>
        </graphics>
        <scheduling gamma="0" omega="0"/>
    </place>

    <!-- Transition Exec_Other_Node -->
    <transition id="{{ exec_other_id }}" identifier="ExecTsub{{ other.id }}" label=""
                eft="{{ other.execution_time.BCET }}" lft="{{ other.execution_time.WCET }}"
                eft_param="{{ other.execution_time.BCET }}" lft_param="{{ other.execution_time.WCET }}"
                speed="1" priority="0" cost="0" unctrl="0" obs="1"
                guard="">
       <graphics color="0">
          <position x="{{ x }}" y="{{ y + 180 }}"/>
          <deltaLabel deltax="9.0" deltay="-32.0"/>
          <deltaGuard deltax="15.0" deltay="10.0"/>
          <deltaUpdate deltax="17.0" deltay="26.0"/>
       </graphics>
       <update><![CDATA[
       ]]></update>
    </transition>

    <!-- Arc Other_Node -->

  <arc place="{{ ready_other_id }}" transition="{{ exec_next_id }}" type="TransitionPlace" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  <arc place="{{ ready_other_id }}" transition="{{ exec_other_id }}" type="PlaceTransition" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>


  {% endfor %}
  {% endfor %}

  {% endfor %}
{% endfor %}

  <timedCost></timedCost>

  <nbTokenColor>0</nbTokenColor>

  <declaration><![CDATA[// insert here your type definitions using C-like syntax

// insert here your function definitions
// using C-like syntax



initially {

    {# === Variables globales === #}
    {% for name, value in globals.items() %}
    int {{ name }} = {{ value }};
    {% endfor %}

    /* Task Declaration */
    task_descriptor [TASK_COUNT] List_Task;
    {% for task in simple_tasks %}
    List_Task[{{ loop.index0 }}].state = {{ task.state }};
    List_Task[{{ loop.index0 }}].core = {{ task.core }};
    List_Task[{{ loop.index0 }}].id = {{ task.id }};
    List_Task[{{ loop.index0 }}].Priority = {{ task.priority }};
    {% endfor %}

    task_descriptor [TASK_COUNT] Sorted_Task;
    int i;
    for(i = 0; i < TASK_COUNT; i++){
        Sorted_Task[i].state = SUSPENDED;
        Sorted_Task[i].core = UNKOWN;
        Sorted_Task[i].id = -1;
        Sorted_Task[i].Priority = -1;
    }

    /* Core Declaration */
    core_descriptor [CORE_COUNT] List_Core;
    {% for core in cores %}
    List_Core[{{ loop.index0 }}].state = {{ core.state }};
    List_Core[{{ loop.index0 }}].type = {{ core.type }};
    List_Core[{{ loop.index0 }}].id = {{ core.id }};
    List_Core[{{ loop.index0 }}].selected_task = {{ core.selected_task }};
    {% endfor %}

}

]]></declaration>

  <project nbinput="0" openinput="0" nbinclude="0" >
  <include id="1" file="{{ c_file }}"/>
 </project>

  <preferences>
      <colorPlace  c0="SkyBlue2"  c1="#ffbebe"  c2="cyan"  c3="green"  c4="yellow"  c5="brown" />

      <colorTransition  c0="yellow"  c1="gray"  c2="cyan"  c3="green"  c4="SkyBlue2"  c5="brown" />

      <colorArc  c0="black"  c1="gray"  c2="blue"  c3="#beb760"  c4="#be5c7e"  c5="#46be90" />

  </preferences>
 </TPN>

  </romeo>