<?xml version="1.0" encoding="UTF-8" ?>
<romeo version="Romeo v3.10.2">
<TPN name="{{ path }}">


<!-- Place Scheduler -->

  <place id="1" identifier="CPU" label="" initialMarking="{{ nb_cpu }}" eft="0" lft="inf">
      <graphics color="0">
         <position x="601.0" y="61.0"/>
         <deltaLabel deltax="0.0" deltay="-22.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <place id="2" identifier="GPU" label="" initialMarking="{{ nb_gpu }}" eft="0" lft="inf">
      <graphics color="0">
         <position x="601.0" y="181.0"/>
         <deltaLabel deltax="3.0" deltay="13.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <place id="3" identifier="Active_core" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="511.0" y="121.0"/>
         <deltaLabel deltax="-56.0" deltay="-7.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <place id="4" identifier="Executing_core" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="691.0" y="121.0"/>
         <deltaLabel deltax="54.0" deltay="-6.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>


<!-- Transition Scheduler -->

  <transition id="5" identifier="Call_CPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="50" cost="0" unctrl="0" obs="1"  guard="cpu_flag #greater 0">
     <graphics color="0">
        <position x="361.0" y="61.0"/>
        <deltaLabel deltax="9.0" deltay="-29.0"/>
        <deltaGuard deltax="0.0" deltay="14.0"/>
        <deltaUpdate deltax="0.0" deltay="26.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[cpu_flag--;]]></update>
  </transition>

  <transition id="6" identifier="Call_GPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="50" cost="0" unctrl="0" obs="1"  guard="gpu_flag #greater 0">
     <graphics color="0">
        <position x="361.0" y="181.0"/>
        <deltaLabel deltax="9.0" deltay="-33.0"/>
        <deltaGuard deltax="5.0" deltay="7.0"/>
        <deltaUpdate deltax="6.0" deltay="19.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[gpu_flag--;]]></update>
  </transition>

  <transition id="7" identifier="SCHED" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="30" cost="0" unctrl="0" obs="1"  guard="need_sched #greater 0">
     <graphics color="0">
        <position x="601.0" y="121.0"/>
        <deltaLabel deltax="1.0" deltay="-30.0"/>
        <deltaGuard deltax="0.0" deltay="12.0"/>
        <deltaUpdate deltax="20.0" deltay="25.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[scheduler(Sorted_Task, List_Core);
need_sched--;]]></update>
  </transition>

  <transition id="8" identifier="Terminate_CPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="30" cost="0" unctrl="0" obs="1"  guard="no_need_cpu #greater 0">
     <graphics color="0">
        <position x="841.0" y="61.0"/>
        <deltaLabel deltax="68.0" deltay="-10.0"/>
        <deltaGuard deltax="19.0" deltay="12.0"/>
        <deltaUpdate deltax="12.0" deltay="22.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[no_need_cpu--;]]></update>
  </transition>

  <transition id="9" identifier="Terminate_GPU" label=""  eft="0" lft="0" lft_param="0" speed="1" priority="30" cost="0" unctrl="0" obs="1"  guard="no_need_gpu #greater 0">
     <graphics color="0">
        <position x="841.0" y="181.0"/>
        <deltaLabel deltax="64.0" deltay="-10.0"/>
        <deltaGuard deltax="17.0" deltay="12.0"/>
        <deltaUpdate deltax="15.0" deltay="21.0"/>
        <deltaSpeed deltax="-20" deltay="5"/>
        <deltaCost deltax="-20" deltay="5"/>
     </graphics>
     <update><![CDATA[no_need_gpu--;]]></update>
  </transition>


<!-- Arc Scheduler -->

  <arc place="1" transition="5" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="2" transition="6" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="3" transition="5" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="3" transition="6" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="3" transition="7" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="4" transition="7" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="4" transition="8" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="4" transition="9" type="PlaceTransition" weight="1" tokenColor="-1"  inhibitingCondition="">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="1" transition="8" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>

  <arc place="2" transition="9" type="TransitionPlace" weight="1" tokenColor="-1">
    <nail xnail="0" ynail="0"/>
    <graphics  color="0">
     </graphics>
  </arc>


<!-- Tasks -->

{% set x_start = [91.0, 511.0, 931.0] %}
{% for task in tasks %}
  {% set task_index = loop.index0 %}
  {% set row = task_index // 3 %}
  {% set col = task_index % 3 %}
  {% set x = x_start[col] %}
  {% set y = 271.0 + row * 120 %}
  {% set place_id = 10 + task_index * 2 %}
  {% set transition_id = 100 + task_index * 2 %}

  <!-- Transition Start -->
  <transition id="{{ transition_id }}" identifier="StartT{{task_index}}" label=""
              eft="{{ task.period }}" lft="{{ task.period }}"
              eft_param="{{ task.period }}" lft_param="{{ task.period }}"
              speed="1" priority="0" cost="0" unctrl="0" obs="1" guard="">
     <graphics color="0">
        <position x="{{ x }}" y="{{ y }}"/>
        <deltaLabel deltax="4.0" deltay="-30.0"/>
        <deltaGuard deltax="20" deltay="-20"/>
        <deltaUpdate deltax="38.0" deltay="11.0"/>
     </graphics>
     <update><![CDATA[
need_sched++;
{{ "cpu_flag" if task.core == "CPU" else "gpu_flag" }}++;
insert_task(List_Task, Sorted_Task, {{ task.id }});
     ]]></update>
  </transition>

  <!-- Place Ready -->
  <place id="{{ place_id }}" identifier="ReadyT{{ task_index }}" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="{{ x + 90 }}" y="{{ y }}"/>
         <deltaLabel deltax="5.0" deltay="-20.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>

  <!-- Transition Exec -->
  <transition id="{{ transition_id + 1 }}" identifier="ExecT{{task_index}}" label=""
              eft="{{ task.execution_time.BCET }}" lft="{{ task.execution_time.WCET }}"
              eft_param="{{ task.execution_time.BCET }}" lft_param="{{ task.execution_time.WCET }}"
              speed="1" priority="0" cost="0" unctrl="0" obs="1"
              guard="is_selected_task(List_Core, {{ task.id }})">
     <graphics color="0">
        <position x="{{ x + 180 }}" y="{{ y }}"/>
        <deltaLabel deltax="9.0" deltay="-32.0"/>
        <deltaGuard deltax="15.0" deltay="10.0"/>
        <deltaUpdate deltax="17.0" deltay="26.0"/>
     </graphics>
     <update><![CDATA[
free_core(List_Core, {{ task.id }});
{{ "no_need_cpu" if task.core == "CPU" else "no_need_gpu" }}++;
no_need_scheduler(Sorted_Task, {{ task.id }});
     ]]></update>
  </transition>

  <!-- Place Suspended -->
  <place id="{{ place_id + 1 }}" identifier="SuspT{{ task_index }}" label="" initialMarking="0" eft="0" lft="inf">
      <graphics color="0">
         <position x="{{ x + 270 }}" y="{{ y }}"/>
         <deltaLabel deltax="5.0" deltay="-22.0"/>
      </graphics>
      <scheduling gamma="0" omega="0"/>
  </place>


<!-- Arc Task -->

  <arc place="{{ place_id }}" transition="{{ transition_id }}" type="TransitionPlace" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  <arc place="{{ place_id }}" transition="{{ transition_id + 1 }}" type="PlaceTransition" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

  <arc place="{{ place_id + 1 }}" transition="{{ transition_id + 1 }}" type="TransitionPlace" weight="1" tokenColor="-1">
     <nail xnail="0" ynail="0"/>
     <graphics  color="0">
     </graphics>
  </arc>

{% endfor %}

  <timedCost></timedCost>

  <nbTokenColor>0</nbTokenColor>

  <declaration><![CDATA[// insert here your type definitions using C-like syntax

// insert here your function definitions
// using C-like syntax


const int TASK_COUNT = {{ task_count }};
const int CORE_COUNT = {{ core_count }};



/* Task data structures */

typedef enum{
    SUSPENDED,
    READY,
    RUNNING
}task_state;

typedef enum{
    CPU,
    GPU,
    BOTH,
    UNKOWN
}task_core;

typedef struct{
	task_state state;
    task_core core;
	int id;
	int Priority;
}task_descriptor;


typedef enum{
    ACTIVE,
    IDLE
}core_state;

typedef enum{
    GPU,
    CPU
}core_type;

typedef struct{
    core_state state;
    core_type type;
    int id;
    int selected_task;
}core_descriptor;


/* Task lists + mainting functions*/

task_descriptor sort_list(task_descriptor [TASK_COUNT] Sorted_Task) {
    int i, j, index = 0;

    task_descriptor [TASK_COUNT] cpu_tasks;
    task_descriptor [TASK_COUNT] gpu_tasks;
    task_descriptor [TASK_COUNT] unknown_tasks;

    int cpu_count = 0;
    int gpu_count = 0;
    int unk_count = 0;

    for (i = 0; i < TASK_COUNT; i++) {
        if (Sorted_Task[i].id != -1) {
            if (Sorted_Task[i].core == CPU) {
                cpu_tasks[cpu_count] = Sorted_Task[i];
                cpu_count++;
            } else if (Sorted_Task[i].core == GPU) {
                gpu_tasks[gpu_count] = Sorted_Task[i];
                gpu_count++;
            } else {
                unknown_tasks[unk_count] = Sorted_Task[i];
                unk_count++;
            }
        }
    }

    for (i = 0; i < cpu_count - 1; i++) {
        for (j = i + 1; j < cpu_count; j++) {
            if (cpu_tasks[i].Priority < cpu_tasks[j].Priority) {
                task_descriptor temp = cpu_tasks[i];
                cpu_tasks[i] = cpu_tasks[j];
                cpu_tasks[j] = temp;
            }
        }
    }

    index = 0;
    for (i = 0; i < cpu_count; i++) {
        Sorted_Task[index] = cpu_tasks[i];
        index++;
    }
    for (i = 0; i < gpu_count; i++) {
        Sorted_Task[index] = gpu_tasks[i];
        index++;
    }
    for (i = 0; i < unk_count; i++) {
        Sorted_Task[index] = unknown_tasks[i];
        index++;
    }

    while (index < TASK_COUNT) {
        Sorted_Task[index].id = -1;
        Sorted_Task[index].Priority = -1;
        Sorted_Task[index].state = SUSPENDED;
        Sorted_Task[index].core = UNKOWN;
        index++;
    }

    return Sorted_Task;
}

void insert_task(task_descriptor [TASK_COUNT] &List_Task, task_descriptor [TASK_COUNT] &Sorted_Task, int id) {
    int i;
    int index = -1;
    int null_index = -1;
    int already_exists = 0;

    i = 0;
    while (i < TASK_COUNT && index == -1) {
        if (List_Task[i].id == id) {
            index = i;
        }
        i = i + 1;
    }

    i = 0;
    while (i < TASK_COUNT && already_exists == 0) {
        if (Sorted_Task[i].id == id) {
            already_exists = 1;
        }
        i = i + 1;
    }

    if (already_exists == 0 && index != -1) {
        i = 0;
        while (i < TASK_COUNT && null_index == -1) {
            if (Sorted_Task[i].id == -1) {
                null_index = i;
            }
            i = i + 1;
        }

        if (null_index != -1) {
            i = null_index;
            while (i < TASK_COUNT - 1) {
                Sorted_Task[i] = Sorted_Task[i + 1];
                i = i + 1;
            }
            Sorted_Task[TASK_COUNT - 1].id = -1;
        }

        i = 0;
        int position_insertion = -1;
        while (i < TASK_COUNT + 10 && position_insertion == -1) {
            if (Sorted_Task[i].id == -1) {
                position_insertion = i;
            }
            i = i + 1;
        }

        if (position_insertion != -1) {
            Sorted_Task[position_insertion] = List_Task[index];
            Sorted_Task[position_insertion].state = READY;
        }
    }
}


/* Core API */


int is_selected_task(core_descriptor [CORE_COUNT] &List_Core, int id){
    int i;
    for(i=0; i < CORE_COUNT; i++){
        if(List_Core[i].selected_task == id){
            return 1;
        }
    }
return 0;
}


/* Scheduler functions */

void scheduler(task_descriptor [TASK_COUNT] &Sorted_Task, core_descriptor [CORE_COUNT] &List_Core){
    Sorted_Task = sort_list(Sorted_Task);
    int i = 0;
    int task_found = 0;

    while (i < TASK_COUNT && task_found == 0) {
        int task_id = Sorted_Task[i].id;
        task_core required_core = Sorted_Task[i].core;
        int already_assigned = 0;

        int j = 0;
        while (j < CORE_COUNT) {
            if (List_Core[j].selected_task == task_id) {
                already_assigned = 1;
            }
            j++;
        }

        if (already_assigned == 0 && task_id != -1) {
            int assigned = 0;
            j = 0;

            if (required_core == BOTH) {
                while (j < CORE_COUNT && assigned == 0) {
                    if (List_Core[j].selected_task == -1 && List_Core[j].type == CPU) {
                        List_Core[j].state = ACTIVE;
                        List_Core[j].selected_task = task_id;
                        assigned = 1;
                        task_found = 1;
                    }
                    j++;
                }

                j = 0;
                while (j < CORE_COUNT && assigned == 0) {
                    if (List_Core[j].selected_task == -1 && List_Core[j].type == GPU) {
                        List_Core[j].state = ACTIVE;
                        List_Core[j].selected_task = task_id;
                        assigned = 1;
                        task_found = 1;
                    }
                    j++;
                }
            }
            else {
                j = 0;
                while (j < CORE_COUNT && assigned == 0) {
                    if (List_Core[j].selected_task == -1 && List_Core[j].type == required_core) {
                        List_Core[j].state = ACTIVE;
                        List_Core[j].selected_task = task_id;
                        assigned = 1;
                        task_found = 1;
                    }
                    j++;
                }
            }
        }

        i++;
    }
}

void no_need_scheduler(task_descriptor [TASK_COUNT] &Sorted_Task, int id){
    int i;
    int removed = 0;

    for(i = 0; i < TASK_COUNT; i++){
        if(Sorted_Task[i].id == id && removed == 0){
            Sorted_Task[i].state = SUSPENDED;
            Sorted_Task[i].core = UNKOWN;
            Sorted_Task[i].id = -1;
            Sorted_Task[i].Priority = -1;
            removed = 1;
        }
    }

    Sorted_Task = sort_list(Sorted_Task);
}


/* Task API */

void free_core(core_descriptor [CORE_COUNT] &List_Core, int id){
    int i;
    for(i=0; i < CORE_COUNT; i++){
        if(List_Core[i].selected_task == id){
            List_Core[i].state = IDLE;
            List_Core[i].selected_task = -1;
        }
    }
}


initially {

    {# === Variables globales === #}
    {% for name, value in globals.items() %}
    int {{ name }} = {{ value }};
    {% endfor %}

    /* Task Declaration */
    task_descriptor [TASK_COUNT] List_Task;
    {% for task in tasks %}
    List_Task[{{ loop.index0 }}].state = {{ task.state }};
    List_Task[{{ loop.index0 }}].core = {{ task.core }};
    List_Task[{{ loop.index0 }}].id = {{ task.id }};
    List_Task[{{ loop.index0 }}].Priority = {{ task.priority }};
    {% endfor %}

    task_descriptor [TASK_COUNT] Sorted_Task;
    int i;
    for(i = 0; i < TASK_COUNT; i++){
        Sorted_Task[i].state = SUSPENDED;
        Sorted_Task[i].core = UNKOWN;
        Sorted_Task[i].id = -1;
        Sorted_Task[i].Priority = -1;
    }

    /* Core Declaration */
    core_descriptor [CORE_COUNT] List_Core;
    {% for core in cores %}
    List_Core[{{ loop.index0 }}].state = {{ core.state }};
    List_Core[{{ loop.index0 }}].type = {{ core.type }};
    List_Core[{{ loop.index0 }}].id = {{ core.id }};
    List_Core[{{ loop.index0 }}].selected_task = {{ core.selected_task }};
    {% endfor %}

}

]]></declaration>

  <project nbinput="0" openinput="0" nbinclude="0" >

 </project>

  <preferences>
      <colorPlace  c0="SkyBlue2"  c1="#ffbebe"  c2="cyan"  c3="green"  c4="yellow"  c5="brown" />

      <colorTransition  c0="yellow"  c1="gray"  c2="cyan"  c3="green"  c4="SkyBlue2"  c5="brown" />

      <colorArc  c0="black"  c1="gray"  c2="blue"  c3="#beb760"  c4="#be5c7e"  c5="#46be90" />

  </preferences>
 </TPN>

  </romeo>